<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Bienvenido</servlet-name>
        <servlet-class>PaqueteServlet.Bienvenido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluacionDeLogin</servlet-name>
        <servlet-class>PaqueteServlet.EvaluacionDeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectorPreguntas</servlet-name>
        <servlet-class>PaqueteServlet.LectorPreguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarExamen</servlet-name>
        <servlet-class>PaqueteServlet.EliminarExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectorExamen</servlet-name>
        <servlet-class>PaqueteServlet.LectorExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscribirPregunta</servlet-name>
        <servlet-class>PaqueteServlet.EscribirPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPregunta</servlet-name>
        <servlet-class>PaqueteServlet.EliminarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarMC</servlet-name>
        <servlet-class>PaqueteServlet.MostrarMC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivo</servlet-name>
        <servlet-class>PaqueteServlet.SubirArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearExamen</servlet-name>
        <servlet-class>PaqueteServlet.CrearExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscribirExamen</servlet-name>
        <servlet-class>PaqueteServlet.EscribirExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPregunta</servlet-name>
        <servlet-class>PaqueteServlet.EditarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarExamen</servlet-name>
        <servlet-class>PaqueteServlet.EditarExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluarPregunta</servlet-name>
        <servlet-class>PaqueteServlet.EvaluarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReEscribirPregunta</servlet-name>
        <servlet-class>PaqueteServlet.ReEscribirPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarPregunta</servlet-name>
        <servlet-class>PaqueteServlet.MostrarPregunta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bienvenido</servlet-name>
        <url-pattern>/Bienvenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluacionDeLogin</servlet-name>
        <url-pattern>/EvaluacionDeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectorPreguntas</servlet-name>
        <url-pattern>/LectorPreguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarExamen</servlet-name>
        <url-pattern>/EliminarExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectorExamen</servlet-name>
        <url-pattern>/LectorExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscribirPregunta</servlet-name>
        <url-pattern>/EscribirPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPregunta</servlet-name>
        <url-pattern>/EliminarPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarMC</servlet-name>
        <url-pattern>/MostrarMC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivo</servlet-name>
        <url-pattern>/SubirArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearExamen</servlet-name>
        <url-pattern>/CrearExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscribirExamen</servlet-name>
        <url-pattern>/EscribirExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPregunta</servlet-name>
        <url-pattern>/EditarPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarExamen</servlet-name>
        <url-pattern>/EditarExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluarPregunta</servlet-name>
        <url-pattern>/EvaluarPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReEscribirPregunta</servlet-name>
        <url-pattern>/ReEscribirPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarPregunta</servlet-name>
        <url-pattern>/MostrarPregunta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
